strings

In [1]:
stg = "swamy"

for char in stg:
    print(char)

s
w
a
m
y

string methods
len method this is used to find out the string length.

In [3]:
stg = "swamy"
print(len(stg))

5

count method in strings

this used to count the string characters and also find the how many words on that sentence

In [17]:
stg = 'swamy'
print(stg.count('s'))

1

In [6]:
stg = 'python hello python'
print(stg.count('python'))

2

In [7]:
stg = "raaarrrr"
print(stg.count('r'))

5

In [15]:
stg = 'python hello python hello'
print(stg.count('python',0,6))

1

index method

use find the index of current character

In [23]:
stg = 'swamy'
print(stg.index('m'))

3

split method

In [24]:
text = "swamy is student"
print(text.split())

['swamy', 'is', 'student']

In [25]:
word = "hello world swamy"
print(word.split(":"))       # Output: ['hello world']

['hello world swamy']

find method

In [27]:
stg = 'swamy'
print(stg.find('a'))

2

startwith

In [30]:
stg = 'rayudu'
print(stg.startswith('ray'))

True

slising

In [31]:
stg = 'rayudu'
print(stg[0:])

rayudu

another methods

In [34]:
stg = 'Swamy rayudu'
print(stg.lower())
print(stg.upper())
print(stg.title())

swamy rayudu
SWAMY RAYUDU
Swamy Rayudu

booleans

In [ ]:
a = 10
b = 20
if a > b:
    print(False)
else:
    print(True)

In [40]:
i = 0
while True:
    if i == 5:
        print(i)
        break
    i+=1

5

all operators

In [48]:
a = 10
b = 20
print("a == b:", a == b)
print("a != b:", a != b)
print("a > b:", a > b)
print("a < b:", a < b)
print("a >= b:", a >= b)
print("a <= b:", a <= b)

a == b: False
a != b: True
a > b: False
a < b: True
a >= b: False
a <= b: True

In [47]:
a = 10
b = 3

print("Arithmetic Operators:")
print("a + b =", a + b)    
print("a - b =", a - b)     
print("a * b =", a * b)     
print("a / b =", a / b)     
print("a // b =", a // b)
print("a % b =", a % b)  
print("a ** b =", a ** b)

Arithmetic Operators:
a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

In [49]:
x = 5
print("Assignment Operators:")
x += 2
print("x += 2:", x)
x -= 3
print("x -= 3:", x)
x *= 2
print("x *= 2:", x)
x /= 4
print("x /= 4:", x)
x = 5
x //= 2
print("x //= 2:", x)
x %= 2
print("x %= 2:", x)
x = 2
x **= 3
print("x **= 3:", x)

Assignment Operators:
x += 2: 7
x -= 3: 4
x *= 2: 8
x /= 4: 2.0
x //= 2: 2
x %= 2: 0
x **= 3: 8

In [50]:
p = True
q = False
print("Logical Operators:")
print("p and q:", p and q)
print("p or q:", p or q)
print("not p:", not p)
print()

Logical Operators:
p and q: False
p or q: True
not p: False

In [52]:
a = 5
b = 3
print("Bitwise Operators:")
print("a & b:", a & b)
print("a | b:", a | b)
print("a ^ b:", a ^ b)
print("a << 1:", a << 1)
print("a >> 1:", a >> 1)
print()

Bitwise Operators:
a & b: 1
a | b: 7
a ^ b: 6
a << 1: 10
a >> 1: 2

In [53]:

my_list = [1, 2, 3, 4, 5]
print(my_list[0])
print(my_list[-1])

my_list.append(6)
my_list.insert(2, 10)
my_list.extend([7, 8])
my_list.remove(10)
my_list.pop()
my_list.pop(2)
my_list.reverse()
my_list.sort()
my_list.clear()
print(len(my_list))


my_list = [1, 2, 3, 4]
print(sum(my_list))
print(min(my_list))
print(max(my_list))
print(my_list.index(3))

1
5
0
10
1
4
2

In [58]:
my_tuple = (10, 20, 30, 40)
print(my_tuple[0])
print(my_tuple[-1])

print(my_tuple.count(40))
print(my_tuple.index(30))



single = (5,)
print(type(single))

10
40
1
2
<class 'tuple'>

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(5)
my_set.remove(3)

my_set.pop()
my_set.clear()

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

print(a.issubset(b))
print(a.issuperset(b))

In [64]:
list = [1,2,3,4,5,1,2]
dic = {}
for i in list:
    if i not in dic:
        dic[i] = 1
    else:
        dic[i]+=1
print(dic)

{1: 2, 2: 2, 3: 1, 4: 1, 5: 1}

In [68]:
my_dict = {"name": "Alice", "age": 25}
print(my_dict["name"])
print(my_dict.get("age"))
print(my_dict.get("gender"))

Alice
25
None

conditional Statements

In [70]:
a = 1
b =2
if a > b:
    print("a is big")
elif a == b:
    print("a==b")
else:
    print("B is big")

B is big

Match Case

In [72]:
day = 9

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case _:
        print("Invalid day")

Invalid day

In [73]:
fruit = "apple"

match fruit:
    case "apple":
        print("It's an apple.")
    case "banana":
        print("It's a banana.")
    case _:
        print("Unknown fruit.")

It's an apple.

In [74]:
value = 99

match value:
    case 1:
        print("One")
    case 2:
        print("Two")
    case _:
        print("Something else")

Something else